<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://khuongak6-001-site1.etempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://khuongak6-001-site1.etempurl.com:8172/msdeploy.axd?site=khuongak6-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>khuongak6-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>khuongak6-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="UserContext1" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ShopperAE.Areas.Shopper.Models.UserContext, ShopKARMA" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AdminContext1" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ShopperAE.Areas.Administrator.Models.AdminContext, ShopKARMA" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SHOPP" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SQL5097.site4now.net;Initial Catalog=DB_A69DA6_Khuongak6;User ID=DB_A69DA6_Khuongak6_admin;Password=Khuongak6;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SHOPP_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=SQL5097.site4now.net;Initial Catalog=DB_A69DA6_Khuongak6;User Id=DB_A69DA6_Khuongak6_admin;Password=Khuongak6;App=EntityFramework;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AdminContext1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SHOPP-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)UserContext1-Web.config Connection String" />
  </ItemGroup>
</Project>